<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Erreur</title>
</head>
<body>

<h1 layout:fragment="headerTitle">Gestion d'évènements en ligne</h1>
<h2 layout:fragment="headerSubtitle">Une erreur est survenue</h2>

<div layout:fragment="content">
    <p class="error-message" th:text="${erreur}"></p>
    <p><a th:href="@{/mesevenements/home}">Retour au menu</a></p>
</div>
</body>
</html>
